absl-py==0.9.0
accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.3.0
alembic==1.12.1
alpha-vantage==2.3.1
altair==5.0.1
#anaconda-client==1.7.2
#anaconda-navigator==1.9.7
#anaconda-project==0.8.3
androguard==3.3.5
ansi2html==1.8.0
antiorm==1.2.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
apyori==1.1.2
asgiref==3.6.0
asn1crypto==1.0.1
astor==0.8.1
astroid==2.15.5
astropy==3.2.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.3.0
audioread==3.0.1
autopep8==2.0.1
autoviz==0.1.58
axial-positional-embedding==0.2.1
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bayesian-optimization==1.4.3
bcrypt==4.0.1
beautifulsoup4==4.12.2
bert-for-tf2==0.14.9
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
blinker==1.5
blis==0.7.9
blobfile==2.0.2
bokeh==2.4.3
boto==2.49.0
Bottleneck==1.2.1
branca==0.6.0
cached-property==1.5.2
cachelib==0.10.2
cachetools==3.1.1
catalogue==1.0.2
catboost==1.1.1
category-encoders==2.6.3
certifi==2020.4.5.1
cffi==1.12.3
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.1.1
ChatterBot==0.8.4
chatterbot-corpus==1.1.4
chromedriver-autoinstaller==0.6.2
click==8.1.3
cloudpickle==1.2.2
clyent==1.2.2
cmake==3.25.2
cmdstanpy==0.9.5
colorama==0.4.6
colorcet==3.0.1
comm==0.1.4
community==1.0.0b1
compress-json==1.0.8
comtypes==1.1.7
conda==4.12.0
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
confection==0.0.4
contextlib2==0.6.0
#convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
coverage==7.2.7
cryptography==40.0.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.28
cytoolz==0.10.0
DALL-E==0.1
dalle-pytorch==0.12.5
dash==2.14.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2.5.2
databricks-cli==0.18.0
datasets==2.13.2
db==0.1.1
db-sqlite3==0.0.1
deap==1.3.3
decorator==4.4.0
deep-sort-realtime==1.3.2
defusedxml==0.6.0
Deprecated==1.2.14
deprecation==2.1.0
diffusers==0.11.1
dill==0.3.6
distlib==0.3.6
distributed==2.5.2
Django==3.2.18
dlib==19.24.0
dm-tree==0.1.8
dnspython==2.3.0
docker==6.1.3
docopt==0.6.2
docutils==0.15.2
easydict==1.9
easyocr==1.7.1
efficientnet==1.1.1
einops==0.6.1
elm==0.4.1
emoji==1.6.3
en-core-web-lg==2.2.5
en-core-web-sm==2.3.1
entrypoints==0.3
ephem==4.1.4
et-xmlfile==1.0.1
exceptiongroup==1.1.1
face-recognition==1.3.0
face-recognition-models==0.3.0
facenet-pytorch==2.5.2
fastai==2.7.11
fastcache==1.1.0
fastcore==1.5.28
fastdownload==0.0.7
fastprogress==1.0.3
fbprophet==0.6
filelock==3.12.0
fire==0.7.0
Flask==1.1.1
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.5.2
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.2
flask-talisman==1.0.0
Flask-WTF==1.0.1
flatbuffers==24.3.25
folium==0.14.0
fonttools==4.38.0
forex-python==1.8
frozendict==2.3.7
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.17.1
fuzzytree==0.1.4
fuzzywuzzy==0.18.0
g-mlp-pytorch==0.1.5
gast==0.3.3
gensim==4.2.0
gevent==1.4.0
gitdb==4.0.10
GitPython==3.1.30
glob2==0.7
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.0.1
googletrans==4.0.0rc1
gradient-free-optimizers==1.3.0
graphviz==0.20.1
greenlet==0.4.15
grpcio==1.29.0
gTTS==2.3.1
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
#hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1653348285237/work
holidays==0.22
holoviews==1.14.9
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.16.4
hvplot==0.7.3
hyperactive==4.6.0
hyperframe==5.2.0
hyperopt==0.2.7
identify==2.5.24
idna==3.4
imageio==2.6.0
imagesize==1.1.0
imantics==0.1.12
imbalanced-learn==0.8.0
importlib-metadata==5.2.0
importlib-resources==5.12.0
imutils==0.5.4
inflection==0.5.1
iniconfig==2.0.0
interchange==2021.0.4
ipykernel==5.1.2
ipython==7.8.0
ipython_genutils==0.2.0
ipywidgets==8.1.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
jmespath==1.0.1
joblib==1.3.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
jupyterlab-widgets==3.0.9
kaleido==0.2.1
keras==2.10.0
Keras-Applications==1.0.8
keras-efficientnets==0.1.7
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-tuner==1.1.3
keyring==18.0.0
kiwisolver==1.1.0
#korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1663341251025/work
kt-legacy==1.0.4
langcodes==3.3.0
language-tool-python==2.7.1
lazy-object-proxy==1.4.2
Levenshtein==0.23.0
libarchive-c==2.8
libclang==18.1.1
librosa==0.8.1
lightgbm==3.3.5
lightning-utilities==0.10.1
llvmlite==0.39.1
locket==0.2.0
LunarCalendar==0.0.9
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.0.1
mathparse==0.1.2
matplotlib==3.4.3
mccabe==0.6.1
mdurl==0.1.2
medmnist==3.0.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mlflow==1.30.1
mlxtend==0.21.0
mock==3.0.5
modelcards==0.1.6
monotonic==1.6
more-itertools==7.2.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.14
multitasking==0.0.11
murmurhash==1.0.2
mypy==1.4.1
mypy-extensions==1.0.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
nbimporter==0.3.4
neo4j==5.7.0
nest-asyncio==1.5.8
networkx==2.6.3
niapy==2.0.5
ninja==1.11.1.1
nltk==3.4.5
nodeenv==1.8.0
nose==1.3.7
notebook==6.0.1
num2words==0.5.12
numba==0.56.4
numexpr==2.7.0
numpy==1.18.5
numpydoc==0.9.1
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
openai==0.28.1
opencv-contrib-python==4.4.0.46
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
opytimark==1.0.8
orjson==3.9.7
outcome==1.2.0
packaging==21.3
pandas==1.3.5
pandas-dq==1.28
pandocfilters==1.4.2
panel==0.12.7
pansi==2020.7.3
param==1.13.0
params-flow==0.8.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathy==0.10.1
patsy==0.5.3
pep8==1.7.1
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.5.0.1
plac==1.1.3
platformdirs==3.5.1
playsound==1.2.2
plot-keras-history==1.1.38
plotly==5.12.0
plotly-resampler==0.9.1
pluggy==0.13.0
ply==3.11
pmdarima==2.0.4
pooch==1.8.2
portpicker==1.3.9
pre-commit==2.21.0
preshed==3.0.2
prettytable==3.7.0
prometheus-client==0.7.1
prometheus-flask-exporter==0.23.0
prompt-toolkit==2.0.10
prophet==1.1.2
protobuf==3.19.6
psutil==5.9.6
psycopg2==2.9.6
psycopg2-binary==2.8.4
py==1.8.0
py-cpuinfo==9.0.0
py-params==0.10.2
py2neo==2021.2.3
py4j==0.10.9.7
pyamg==5.0.1
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycaret==3.0.4
pyclipper==1.3.0.post5
pycocotools==2.0.6
pycodestyle==2.10.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.20.0
pyct==0.5.0
pycurl==7.43.0.3
pydantic==1.10.4
pydeck==0.8.1b1
pydot==1.4.2
pyflakes==2.1.1
PyGetWindow==0.0.9
Pygments==2.17.2
PyJWT==2.7.0
pylint==2.17.4
#PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1670868433998/work
pymongo==3.13.0
Pympler==1.1
PyMsgBox==1.0.9
PyMySQL==1.0.3
pyod==1.1.1
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.8.2
pyreadline==2.1
PyRect==0.2.0
pyrsistent==0.15.4
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pyspellchecker==0.7.1
pystan==2.19.1.1
pyswarms==1.3.0
pytest==7.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-elm==1.0a0
python-Levenshtein==0.23.0
python-twitter==3.5
pytorch-lightning==1.9.5
pytweening==1.0.7
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.3.2
PyWavelets==1.3.0
pywin32==306
pywinpty==0.5.5
PyYAML==6.0
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
Quandl==3.7.0
qudida==0.0.4
querystring-parser==1.2.4
rapidfuzz==3.4.0
regex==2023.10.3
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
resampy==0.4.3
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.1
rope==0.14.0
rsa==4.9
ruamel_yaml==0.15.46
sacremoses==0.0.53
safetensors==0.4.2
sanitize-ml-labels==1.0.51
schemdraw==0.15
scikit-base==0.4.6
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.7.1
seaborn==0.11.1
seam-carving==1.1.0
selenium==4.12.0
semantic-version==2.8.5
Send2Trash==1.5.0
setuptools-git==1.2
shapely==2.0.3
simplegeneric==0.8.1
simplejson==3.19.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
sklearn-genetic==0.5.1
sklearn-genetic-opt==0.9.0
sktime==0.19.2
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soundfile==0.12.1
soupsieve==1.9.3
spacy==2.3.5
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.9.0
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
split-folders==0.5.1
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.4.44
sqlparse==0.4.3
srsly==1.0.6
statsmodels==0.13.5
streamlit==1.23.1
support-developer==1.0.5
sympy==1.4
tables==3.5.2
tabulate==0.9.0
taming-transformers==0.0.1
tbats==1.1.3
tblib==1.4.0
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.4
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0
tensorflow-federated==0.17.0
tensorflow-gpu==2.5.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-model-optimization==0.4.1
tensorflow-privacy==0.5.2
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textblob==0.17.1							 
textgenrnn==1.4.1
thinc==7.4.6
thop==0.1.1.post2209072238
threadpoolctl==2.0.0
tifffile==2021.11.2
tldextract==4.0.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.10.0
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tornado==6.0.3
tqdm==4.66.1
trace-updater==0.0.9.1
traitlets==4.3.3
transformers==4.30.2
trio==0.22.2
trio-websocket==0.10.4
tsdownsample==0.1.2
tvdatafeed==2.1.0
tweepy==3.10.0
#tweet-preprocessor @ https://pypi.anaconda.org/berber/simple/tweet-preprocessor/0.5.0/tweet-preprocessor-0.5.0.tar.gz
typed-ast==1.5.4
typeguard==4.1.2
typer==0.7.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
ultralytics==8.0.145
unicodecsv==0.14.1
urllib3==1.26.14
vaderSentiment==3.3.2
validators==0.20.0
virtualenv==20.23.0
waitress==2.1.2
wasabi==0.10.1
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.6.3
Werkzeug==2.0.1
whois==0.9.13
widgetsnbextension==4.0.9
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
wrapt==1.12.1
wsproto==1.2.0
WTForms==2.2.1
xgboost==1.6.1
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
xmljson==0.2.1
xxhash==3.4.1
yarl==1.8.2
yellowbrick==1.5
yfinance==0.1.67
youtokentome==1.0.6
youtube-transcript-api==0.5.0
zict==1.0.0
zipp==3.1.0

